@using Reporting.Models
@model Employee

@{
    ViewData["Title"] = "Export";
}

    <div id="info-employee">
        <p><span>Họ và tên: </span>@Html.Raw($"{Model.FirstName} {Model.LastName}") </p>
        <p><span>Tuổi: </span>@Model.Age </p>
        <p><span>Giới tính: </span>@Model.Gender </p>
        <p><span>Địa chỉ: </span>@Model.Address </p>
    </div>